@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;700&family=Inconsolata&family=Orbitron&display=swap');
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
    background: #EECDA3;  
    background: -webkit-linear-gradient(to bottom, #EF629F, #EECDA3); 
    background: linear-gradient(to bottom, #EF629F, #EECDA3); 
}
h1, h4{
    color: white;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Inconsolata', monospace;
}
.btnRosa{
    background-color:     #b54c7a;
    color: white;
    font-family: 'Inconsolata', monospace;
}
.btnRosa:hover{
    background-color: #eecda3;
}
.btnRosaDisabled{
    background-color: white;
    color: #EF629F;
    font-family:  'Inconsolata', monospace;
}
.alertSeguiParticipando{
    background-color: black;
    color:     #ef629f;
}
.alertRosa{
    background-color: #ef629f;
    color: black;
    font-size: 20px;
}

@media (max-width: 575.98px) { 
    h1, p{
      font-size: 20px;
    }
  }